:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  body {
    --void-bg-color: white;
    --primary-color: black;
    --primary-bg-color: #e6d2e7;
    --secondary-color: black;
    --secondary-bg-color: #bc8dc0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --void-bg-color: black;
    --primary-color: white;
    --primary-bg-color: rgb(30, 30, 31);
    --secondary-color: lightgray;
    --secondary-bg-color: rgb(68, 64, 64);
  }
}

body {
  color: var(--primary-color);
  background-color: var(--void-bg-color);
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1080px) 1fr;
  grid-template-rows: 1fr minmax(80vh, auto) 1fr;
  grid-template-areas:
    ". header ."
    ". main   ."
    ". footer .";

  /*grid-template-areas:
    "header header header"
    ".      main   ."
    "footer footer footer";*/
}

main,
header,
footer{
  padding: 1rem;
}

main {
  grid-area: main;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  min-height: max-content;
}

header,
footer {
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline
}

header {
  grid-area: header;
  height: 70px;
}

footer {
  grid-area: footer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}