<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} {{ site.WebsiteName }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>{{ site.WebsiteName }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if user %}
                <li>{{ user.name }} <a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p>&copy; 2025 {{ site.WebsiteName }}</p>
        <nav>
        <ul>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/privacy">Cookies</a></li>
        </ul>
        </nav>
        {% endblock %}
    </footer>
</body>

</html>